[submodule "ace-jump"]
  path = ace-jump
  url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "smex"]
  path = smex
  url = https://github.com/nonsequitur/smex.git
[submodule "fold-dwim-org"]
  path = fold-dwim-org
  url = git@github.com:emacsmirror/fold-dwim-org.git
[submodule "fold-dwim"]
  path = fold-dwim
  url = git@github.com:emacsmirror/fold-dwim.git
[submodule "markdown"]
  path = markdown
  url = git@github.com:emacsmirror/markdown-mode.git
