[submodule "slime"]
  path = slime
  url = http://github.com/nablaone/slime.git
[submodule "ac-slime"]
  path = ac-slime
  url = https://github.com/purcell/ac-slime.git
[submodule "auto-complete"]
  path = auto-complete
  url = https://github.com/auto-complete/auto-complete.git
[submodule "clojure-mode"]
  path = clojure-mode
  url = https://github.com/technomancy/clojure-mode.git
[submodule "popup-el"]
  path = popup-el
  url = https://github.com/auto-complete/popup-el.git
[submodule "ace-jump"]
  path = ace-jump
  url = https://github.com/winterTTr/ace-jump-mode.git
